node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat build
artifacts
cache
out

# Foundry Forge build
lib/forge-std
artifacts_forge
cache_forge

# Local config
.vscode
pnpm-lock.yaml